<!DOCTYPE html>
<head>
	<title>Resume</title>
	
	<link rel="shortcut icon" href="https://yt3.ggpht.com/-seX31pjzFuk/AAAAAAAAAAI/AAAAAAAAAAA/KW_1RnNexZw/s900-c-k-no/photo.jpg">
	
	<link rel="stylesheet" type="text/css" href="stylesheets/stylesheets.css">
	
</head>
<body>
<div id='body'>
	<div id='header'>
		<h1>Resume</h1>

		<div id='links'>
			<a href='/'>About Me</a>
			<a href="/resume">Resume</a>
			<a href="/projects">Past Projects</a>
			<a href="/contact">Contact</a>
			<a href="https://github.com/svcastaneda" target="_blank">GitHub</a>
			<a href="https://www.linkedin.com/pub/saundra-castaneda/78/b9b/424" target="_blank">LinkedIn</a>
		</div>
	</div>
	<div class='text'>
		
		<h3><u>Education</u></h3>
		<table id='education'>
			<tr>
				<td>DePaul University</td>
				<td style='text-align:right'>Chicago, IL</td>
			</tr>
			<tr>
				<td><ul>
					<li>Major: Computer Science (BS)</li>
					<li>Concentration: Software Engineering</li>
					<li>Expected graduation: June, 2017</li>
					<li><i>second-year college student with junior class standing</i></li>
					<li>Current GPA: 3.7</li>
				</ul></td>
			</tr>
		
			<tr>	
				<td>DeVry Advantage Academy <i>(high school & college dual enrollement program)</i></td>
				<td style='text-align:right'>Chicago, IL</td>
			<tr>
			<tr>
				<td><ul>
					<li>Major: Network Systems Administration (AAS)</li>
					<li>Graduated: June, 2014</li>
					<li>Final GPA: 3.9</li>
				</ul></td>
			</tr>
		</table>
		
		
		<h3><u>Skills</u></h3>
		<table>
			<tr>
				<td><ul>
					<li>HTML, CSS, Python, Ruby on Rails, Git, Java, Javascript, AppEngine</li>
					<li>Adobe Photoshop, Lightroom, and Dreamweaver</li>
					<li>Apple and PC systems and software</li>
					<li>Microsoft Word, PowerPoint, Excel, OneNote</li>
				</ul></td>
				<td><ul>
					<li>Bilingual in English and Spanish</li>
					<li>Conflict resolution and communication</li>
					<li>Quick learner and good teacher</li>
				</ul></td>
			</tr>
		</table>
	
	
		<h3><u>Experience</u></h3>
		<!-- newest to oldest or oldest to newest? -->
		<table>
			<tr>
			    <td>CoderDojoChi - Chicago, IL</td>
			    <td style='text-align:right'>(June 2013 - present)</td>
			</tr>
			<tr><td><i>Volunter mentor</i></td></tr>
			<tr>
				<td colspan='2'><ul>
					<li>Helped children learn HTML and CSS</li>
					<li>Assisted in developing curriculum</li>
				</ul></td>
			</tr>

			<tr>
				<td>Google Computer Science Summer Institute - Cambridge, MA</td>
				<td style='text-align:right'>(July 2014)</td>
			</tr>
			<tr><td><i>Student</i></td></tr>
			<tr>
				<td colspan='2'><ul>
					<li>Participated in 3-week rigorous computer science curriculum covering HTML, CSS, Javascript, Python, and AppEngine</li>
					<li>Partnered with group of three on developing a project on AppEngine called Tack It; worked on front-end side of development; allows users to keep a virtual bulletin board unique to their account where they may add notes and buttons</li>
				</ul></td>
			</tr>
			<tr>
				<td>eshots inc.</td>
				<td style='text-align:right'>(October 2014 – present)</td>
			</tr>
			<tr><td><i>Data Entry Clerk<i></td></tr>
			<tr>
				<td colspan='2'><ul>
					<li>eshots inc. - Chicago, IL</li>
					<li>Enter user information using ABBYY software [rate: 68 WPM, 345 CPM]</li>
					<li>Train new employees on how to use the ABBYY software</li>
				</ul></td>
			<tr>
				<td>Hour of Code - Chicago, IL</td>
				<td style='text-align:right'>(December 2014)</td>
			</tr>
			<tr><td><i>Volunter teaching assistant<i></td></tr>
			<tr>
				<td colspan='2'><ul>
					<li>Helped lead workshop using Hour of Code activities</li>
					<li>Taught 4th grade students how to use logical problem solving</li>
					<li>Sparked students's interest in computer science</li>
				</ul></td>
			</tr>
			<tr>
				<td>Railsbridge Chicago - Chicago, IL</td>
				<td style='text-align:right'>(February 2015 - present)</td>
			</tr>
			<tr><td><i>Co-Organizer/Teaching Assistant<i></td></tr>
			<tr>
				<td colspan='2'><ul>
					<li>Was a board memeber that planned out 2-day Railsbridge workshop</li>
					<li>Helped look over and edit curriculum</li>
					<li>In charge of student outreach</li>
					<li>Acted as a teaching assistant for workshop</li>
					<li>Photographer for event</li>
				</ul></td>
			</tr>
			<tr>
				<td>Chicago PyLadies - Chicago, IL</td>
				<td style='text-align:right'>(February 2015 - present)</td>
			</tr>
			<tr><td><i>Volunter teaching assistant<i></td></tr>
			<tr>
				<td colspan='2'><ul>
					<li>Helped lead workshops on Python to adults</li>
					<li>Taught students how to "think like a computer"</li>
				</ul></td>
			</tr>
			<tr>
				<td>Google - Chicago, IL</td>
				<td style='text-align:right'>(June 2015 - present)</td>
			</tr>
			<tr><td><i>Student Ambassador<i></td></tr>
			<tr>
				<td colspan='2'><ul>
					<li>Act as a liaison between Google and DePaul University</li>
					<li>Plan and host Google related events on campus</li>
				</ul></td>
			</tr>
		</table>
		
		
		<h3><u>Accomplishments</u></h3>
		<ul>
			<li>NCWIT Aspirations in Computing IL 2013 affiliate award</li>
			<li>Adler Planetarium STEM SMARTS 2014 Scholar</li>
			<li>In winning group for GE's Best Image Recognition challenge at HackIllinois 2015</li>
			<li>Finalist for Salesforce App Development Scholarship [February 2015]</li>
			<li>Winner of Chicago Area Mensa scholarship 2015</li>
		</ul>
		
		<br>
		
		<h3><u>Extra-Curricular Activities</u></h3>
		<ul>
			<li>HerCDM member [2014-present]</li>
			<li>Chicago Girls in Computing [2013-2015]</li>
		</ul>
		
	</div>
</div>
</body>